$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

$primary-blue: rgb(16, 90, 158);
$primary-blue-07: rgba(16, 89, 158, 0.7);
$primary-blue-05: rgba(16, 89, 158, 0.5);
$primary-blue-02: rgba(16, 89, 158, 0.2);

$primary-white: rgb(255, 255, 255);
$primary-white-07: rgb(255, 255, 255, 0.7);
$primary-white-05: rgb(255, 255, 255, 0.5);
$primary-white-02: rgb(255, 255, 255, 0.2);

$primary-red: rgb(255, 51, 0);
$primary-red-07: rgb(255, 51, 0, 0.7);
$primary-red-05: rgb(255, 51, 0, 0.5);
$primary-red-02: rgb(255, 51, 0, 0.2);

$primary-black: rgb(0, 0, 0);
$primary-black-07: rgb(0, 0, 0, 0.7);
$primary-black-05: rgb(0, 0, 0, 0.5);
$primary-black-02: rgb(0, 0, 0, 0.2);

$primary-sucess: rgb(0, 220, 100);
$primary-sucess-07: rgb(0, 220, 100, 0.7);
$primary-sucess-05: rgb(0, 220, 100, 0.5);
$primary-sucess-02: rgb(0, 220, 100, 0.2);

$primary-warning: rgb(255, 193, 7);
$primary-warning-07: rgb(255, 193, 7, 0.7);
$primary-warning-05:  rgb(255, 193, 7, 0.5);
$primary-warning-02:  rgb(255, 193, 7, 0.2);


